h1{
    color: #01b7ff;
    font-weight: 500;
}
mat-form-field{
    width: 100%;
}
.mat-stroked-button{
    font-weight: 200;
    font-size: 1rem;
    margin-bottom:10px;
    border-color: #01b7ff;
    color: #01b7ff;
}
.mat-stroked-button {
    .mat-dialog-close{
        border-color: #01b7ff;;
        color: #01b7ff;
    }
}